<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysGwasMapper">

    <resultMap type="SysGwas" id="SysGwasResult">
        <id     property="dbid"                      column="dbid"                     />
        <result property="gwasId"                column="gwas_id"                 />
        <result property="project"                  column="project"                    />
        <result property="dataSource"               column="data_source"                />
        <result property="isUpdate"                 column="is_update"                  />
        <result property="status"                   column="status"                     />
        <result property="createBy"                 column="create_by"                  />
        <result property="createTime"               column="create_time"                />
        <result property="updateBy"                 column="update_by"                  />
        <result property="updateTime"               column="update_time"                />
        <result property="remark"                   column="remark"                     />
    </resultMap>

    <sql id="selectSysGwasVo">
        SELECT dbid,
               gwas_id,
               data_source,
               is_delete,
               is_update,
               `status`,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        FROM dm_gwasdb
    </sql>

    <!-- 查询条件 -->
    <select id="selectSysGwasList" parameterType="SysGwas" resultMap="SysGwasResult">
        <include refid="selectSysGwasVo"/>
        <where>
            <if test="dataSource != null and dataSource != ''">
                AND data_source LIKE concat('%', TRIM(#{dataSource}), '%')
            </if>
            <if test="isUpdate != null and isUpdate != ''">
                AND is_update = TRIM(#{isUpdate})
            </if>
            <if test="status != null and status != ''">
                AND status = TRIM(#{status})
            </if>
            <if test="remark != null and remark != ''">
                AND remark LIKE concat('%', TRIM(#{remark}), '%')
            </if>
            AND is_delete != 1
        </where>
    </select>


</mapper>