<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('GWAS')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="type-form">
					<div class="select-list">
						<ul>
							<li>
								数据来源：<select name="dataSource" th:with="type=${@dict.getType('dw_data_source')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								更新状态：<select name="isUpdate" th:with="type=${@dict.getType('dw_update_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								审核状态：<select name="status" th:with="type=${@dict.getType('dw_curated_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								备注：<input type="text" name="remark"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	       <div class="btn-group-sm" id="toolbar" role="group">
	            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="builtin:disease:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="builtin:disease:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="builtin:disease:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="builtin:disease:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:gwas:edit')}]];
		var listFlag = [[${@permission.hasPermi('system:gwas:list')}]];
		var removeFlag = [[${@permission.hasPermi('system:gwas:remove')}]];
		var prefix = ctx + "system/gwas";
		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "gwasId",
		        sortOrder: "asc",
		        modalName: "",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'dbid',
		            title: '主键',
					visible: false
		        },
		        {
		            field: 'gwasId',
		            title: '疾病编号',
					align: 'center'
		        },
				{
				    field: 'dataSource',
				    title: '数据来源',
				    align: 'center'
				},
		        {
		            field: 'isUpdate',
		            title: '更新状态',
		            align: 'center'
		        },
		        {
		            field: 'status',
		            title: '审核状态',
		            align: 'center'
		        },
		        {
		            field: 'remark',
		            title: '备注',
		            align: 'center',
		            formatter: function(value, row, index) {
                        return $.table.tooltip(value);
			        },
					cellStyle: function (value, row, index) {
						return { 
							css: { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap"}};
					},
					width: 40
		        },
				{
					field : 'createBy', 
					title : '创建者',
		            align: 'center',
					visible: false
				},
		        {
		            field: 'createTime',
		            title: '创建时间',
					align: 'center',
		            sortable: true,
					visible: false,
		            formatter: function(value, row, index) {
                        return $.table.tooltip(value);
			        },
					cellStyle: function (value, row, index) {
						return { 
							css: { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap"}};
					},
		        },
		        {
		            field: 'updateBy',
		            title: '更新者',
					align: 'center',
					visible: true
		        },
		        {
		            field: 'updateTime',
		            title: '更新时间',
					align: 'center',
		            sortable: true,
					visible: true,
		            formatter: function(value, row, index) {
                        return $.table.tooltip(value);
			        },
					cellStyle: function (value, row, index) {
						return { 
							css: { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap"}};
					},
		        },
		        {
		            title: '操作',
					halign: "center",
					align: "adjust",
					class: 'W120',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.odbId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.odbId + '\')"><i class="fa fa-remove"></i>删除</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>